{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://developer.nps.gov/api/v1/parks?parkCode=acad",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Api-Key": [
            "MY_SECRET_TOKEN"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "Allow": [
            "Get"
          ],
          "X-Api-Umbrella-Request-Id": [
            "cde3394vqj1epeg5hc10"
          ],
          "X-Ratelimit-Limit": [
            "1000"
          ],
          "X-Ratelimit-Remaining": [
            "73"
          ],
          "X-Vcap-Request-Id": [
            "310b962f-9ebd-44ea-6daf-cc44cc540ef7"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": " \r\n{\r\n\r\n\"total\":\"1\",\r\n\"limit\":\"50\",\r\n\"start\":\"0\",  \r\n\"data\":[\r\n\r\n{\r\n\r\n\"id\":\"6DA17C86-088E-4B4D-B862-7C1BD5CF236B\"\r\n\r\n,\"url\":\r\n\r\n\"https://www.nps.gov/acad/index.htm\"\r\n\r\n,\"fullName\":\"Acadia National Park\"      \r\n\r\n,\"parkCode\":\"acad\"\r\n\r\n,\"description\":\"Acadia National Park protects the natural beauty of the highest rocky headlands along the Atlantic coastline of the United States, an abundance of habitats, and a rich cultural heritage. At 4 million visits a year, it's one of the top 10 most-visited national parks in the United States. Visitors enjoy 27 miles of historic motor roads, 158 miles of hiking trails, and 45 miles of carriage roads.\"\r\n\r\n,\"latitude\":\r\n\r\n\"44.409286\" \r\n\r\n,\"longitude\":\r\n\r\n\"-68.247501\" \r\n\r\n,\"latLong\":\"lat:44.409286, long:-68.247501\"\r\n\r\n,\"activities\":[{\"id\":\"09DF0950-D319-4557-A57E-04CD2F63FF42\",\"name\":\"Arts and Culture\"},{\"id\":\"FAED7F97-3474-4C21-AB42-FB0768A2F826\",\"name\":\"Cultural Demonstrations\"},{\"id\":\"13A57703-BB1A-41A2-94B8-53B692EB7238\",\"name\":\"Astronomy\"},{\"id\":\"D37A0003-8317-4F04-8FB0-4CF0A272E195\",\"name\":\"Stargazing\"},{\"id\":\"7CE6E935-F839-4FEC-A63E-052B1DEF39D2\",\"name\":\"Biking\"},{\"id\":\"071BA73C-1D3C-46D4-A53C-00D5602F7F0E\",\"name\":\"Boating\"},{\"id\":\"A59947B7-3376-49B4-AD02-C0423E08C5F7\",\"name\":\"Camping\"},{\"id\":\"7CFF5F03-5ECC-4F5A-857[...]
    {
      "request": {
        "method": "get",
        "uri": "https://developer.nps.gov/api/v1/alerts?parkCode=acad",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Api-Key": [
            "MY_SECRET_TOKEN"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "Allow": [
            "Get"
          ],
          "X-Api-Umbrella-Request-Id": [
            "cde34ma9n6rkj0uaspag"
          ],
          "X-Ratelimit-Limit": [
            "1000"
          ],
          "X-Ratelimit-Remaining": [
            "121"
          ],
          "X-Vcap-Request-Id": [
            "043e1fcf-b8ea-4b4d-45aa-0c345b8753e2"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": " \r\n{\r\n\r\n\"total\":\"2\",\r\n\"limit\":\"50\",\r\n\"start\":\"0\",  \r\n\"data\":[\r\n\r\n{\r\n\r\n\"id\":\"67986426-9026-4970-9EF2-C8B015B432A2\"\r\n\r\n,\"url\":\"https://www.nps.gov/acad/planyourvisit/conditions.htm\"\r\n\r\n,\"title\":\"Access to Seawall Limited Due to Storm Damage\"\r\n\r\n,\"parkCode\":\"acad\"\r\n\r\n,\"description\":\"Due to recent storm damage, a short section of Seawall Road (Route 102A) at Seawall Pond is temporarily closed to traffic. Visitors may access Wonderland and Ship Harbor hiking trails from the west through Bass Harbor via Route 102A.\"\r\n\r\n,\"category\":\"Park Closure\"  \r\n\r\n,\"relatedRoadEvents\":[]\r\n,\"lastIndexedDate\":\"2024-01-26 16:12:24.0\"\r\n\r\n\r\n}\r\n,\r\n{\r\n\r\n\"id\":\"5E3CA444-D027-4699-AE2D-47C0E915B889\"\r\n\r\n,\"url\":\"https://www.nps.gov/acad/planyourvisit/conditions.htm\"\r\n\r\n,\"title\":\"Storm Damage Significant\"\r\n\r\n,\"parkCode\":\"acad\"\r\n\r\n,\"description\":\"A winter storm on Wed Jan 10 led to significant damage to facilities throughout the park, such as the Ocean Path. Please be aware of debris, loose rocks, and uneven footing. Unless noted otherwise, all park areas remain open at this time.\"\r\n\r\n,\"category\":\"Caution\"  \r\n\r\n,\"relatedRoadEvents\":[]\r\n,\"lastIndexedDate\":\"2024-01-11 13:10:06.0\"\r\n\r\n\r\n}\r\n\r\n]\r\n}\r\n"
        }
      },
      "recorded_at": "Sat, 03 Feb 2024 21:04:23 GMT"
    },
    {
      "request": {
        "method": "get",
        "uri": "https://developer.nps.gov/api/v1/amenities?parkCode=acad",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "X-Api-Key": [
            "MY_SECRET_TOKEN"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "Allow": [
            "Get"
          ],
          "X-Api-Umbrella-Request-Id": [
            "cde34md5u1km2hd3pps0"
          ],
          "X-Ratelimit-Limit": [
            "1000"
          ],
          "X-Ratelimit-Remaining": [
            "120"
          ],
          "X-Vcap-Request-Id": [
            "222a3b6f-9cb4-4170-6a15-affcffb76693"
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": " \r\n{\r\n\r\n\"total\":\"46\",\r\n\"limit\":\"50\",\r\n\"start\":\"0\",  \r\n\"data\":[\r\n\r\n{\r\n\r\n\"id\":\"4E4D076A-6866-46C8-A28B-A129E2B8F3DB\"\r\n\r\n,\"name\":\"Accessible Rooms\"      \r\n\r\n,\"categories\":[\r\n  \"Accessibility\"\r\n  ]\r\n\r\n\r\n}\r\n,\r\n{\r\n\r\n\"id\":\"7DC6C690-2BC3-4344-9691-EF9FCFB6E506\"\r\n\r\n,\"name\":\"Audio Description\"      \r\n\r\n,\"categories\":[\r\n  \"Accessibility\"\r\n  ]\r\n\r\n\r\n}\r\n,\r\n{\r\n\r\n\"id\":\"F4A842CB-C966-402E-BBD3-AB86EDCF8403\"\r\n\r\n,\"name\":\"Automated Entrance\"      \r\n\r\n,\"categories\":[\r\n  \"Accessibility\"\r\n  ]\r\n\r\n\r\n}\r\n,\r\n{\r\n\r\n\"id\":\"63734D6E-3330-4EED-B916-52B3F625A091\"\r\n\r\n,\"name\":\"Beach/Water Ac[...]
    {
      "request": {
        "method": "get",
        "uri": "https://sweater-weather-35ecb02d6385.herokuapp.com/api/v0/forecast/?location=Bar%20Harbor,ME",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "Etag": [
            "W/\"47f1c76b3f6834c0b5da4fcdce2bcc4c\""
          ]
        },
        "body": {
          "encoding": "UTF-8",
          "string": "{\"data\":{\"id\":null,\"type\":\"forecast\",\"attributes\":{\"current_weather\":{\"last_updated\":\"2024-02-03 16:00\",\"temperature\":28.9,\"feels_like\":17.5,\"humidity\":49,\"uvi\":2.0,\"visibility\":9.0,\"condition\":\"Sunny\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/113.png\"},\"daily_weather\":[{\"date\":\"2024-02-03\",\"sunrise\":\"06:49 AM\",\"sunset\":\"04:44 PM\",\"max_temp\":27.8,\"min_temp\":19.5,\"condition\":\"Partly Cloudy \",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/116.png\"},{\"date\":\"2024-02-04\",\"sunrise\":\"06:48 AM\",\"sunset\":\"04:45 PM\",\"max_temp\":28.2,\"min_temp\":16.3,\"condition\":\"Sunny\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/113.png\"},{\"date\":\"2024-02-05\",\"sunrise\":\"06:46 AM\",\"sunset\":\"04:46 PM\",\"max_temp\":28.5,\"min_temp\":17.6,\"condition\":\"Light freezing rain\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/day/311.png\"}],\"hourly_weather\":[{\"time\":\"2024-02-03 00:00\",\"temperature\":27.2,\"conditions\":\"Light snow\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/326.png\"},{\"time\":\"2024-02-03 01:00\",\"temperature\":25.9,\"conditions\":\"Light freezing rain\",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/311.png\"},{\"time\":\"2024-02-03 02:00\",\"temperature\":24.8,\"conditions\":\"Overcast \",\"icon\":\"//cdn.weatherapi.com/weather/64x64/night/122.png\"},{\"time\":\"2024-02-03 03:00\",\"temperature\":23.7,\"conditions\":\"Overcast \",\"icon\":\"//cdn.weatherapi.com/weather/64x[...]
