<p>
  <h2> Resumes! </h2>
  <p> If you're looking for a developer, please find links to our resumes below. </p>

<h3> Backend Devs </h3>
  <p><a href="https://docs.google.com/document/d/1jDm8WwZO2a4wnZOiVdQCy81WkYUhmUIbwFmCeZQVaxo/edit?usp=sharing"> Click here to see Kam's resume </a></p>

  <p><a href="https://docs.google.com/document/d/1UrFqCa0Nou1NegFLIEedpwA8BufKEOha/edit?usp=sharing&ouid=113327344471120951554&rtpof=true&sd=true"> Click here to see Paul's resume </a></p>

  <p><a href="https://docs.google.com/document/d/1hOmXy9700lKb3qPqsViEZ1QQJpxspTWm7yhfhKmK7ug/edit?usp=sharing"> Click here to see Ed's resume </a></p>

<h3> Frontend Devs </h3>
  <p><a href="https://docs.google.com/document/d/1R_ovsAfjZhQoLMkUBTFzz66M54nK953uDNt_Z--NjYE/edit?usp=sharing"> Click here to see Arden's resume </a></p> 
</p>
